extends ../authed_layout

mixin phases(phase)
    li.phase(id = "#{phase.id}")= phase.name
        - if (phase.children != undefined){
            ul
                - each child in phase.children
                    mixin phases(child)
        - }
        - if (phase.tasks != undefined){
            ul
                - each task in phase.tasks
                    li.task(id ="#{task.id}", data-taskid="#{task.id}", data-taskname = "#{task.name}")
                        div.row-fluid
                            div.name.span2= task.name
                            div.span4
                                p [posted #{task.posted}, estimated #{task.estimate}]
        - }

block au_content
    div.row-fluid
        div.span6
            h4 #{project.name}
        div.span6
            ul.nav.nav-pills
                li
                    a(href="#edit", alt="edit") Edit&nbsp;
                        i.icon-pencil
                li
                    a(href="#configure", alt="configure") Configure&nbsp;
                        i.icon-wrench
                li
                    a(href="#invoicing", alt="invoicing") Invoicing&nbsp;
                        i.icon-list-alt
    div.row-fluid
        div.span12
            ul
                - each phase in phases
                    mixin phases(phase)

    script(type='text/javascript', src='/javascripts/client/12_project_details.js')
