extends landing-layout

block landing-body
    .row#titlesection
        .col-12
            .row
                p.text-right.text-muted Private Alpha
            .row
                .col-12.col-sm-6.col-lg-6
                    #triptih
                        #t1import
                            #one_import.btn.btn-warning(style="opacity: 0", data-toggle="tooltip", title="Import Microsoft project files of any version. \n Learn more ↓")
                                | 1. Import MPP
                        #t2tracktime
                            #two_enter.btn.btn-warning(style="opacity: 0", data-toggle="tooltip", title="System will identify tasks assigned to you and scheduled for current week. \n Learn more ↓")
                                | 2. Track time
                        #t3content
                            #three_analyze.btn.btn-warning(style="opacity: 0", data-toggle="tooltip", title="Analysis of spent time per person. \n Learn more ↓")
                                | 3. Analyze reports
                .col-12.col-sm-6.col-lg-6.clearfix.content-column#signupsection
                    .clearfix.icons
                        img(src='/images/crow-logo-min.png', alt='crow-logo-min.png')
                    h2 Import MS Project ® files
                    span.big.amp &amp;
                    h3 manage your timesheets
                    .signinsignup#signup
                        button.signup.btn.btn-primary(href='#') Sign Up
                    .signinsignup#signin
                        span or&nbsp;
                            a.signin(href='#') Sign In
            .row.moreinfo(style="height: 5%")
                .col-12.col-sm-12.col-lg-12
                    a(href='#') More info&nbsp;
                        i.icon-chevron-down
            .row
                hr
    article.row#importmpp
        .col-12.col-sm-6.col-offset-1.col-lg-5.clearfix
            .clearfix.featuretext
                h2 Import MPP
                h4
                    ul
                        li Import Microsoft project files of any version
                        li Load data about a tasks structure, a schedule, resources & effort estimates
                        li View the project data online
                        li Map resources from MPP to your project team members
                        li Reload files multiple times without losing anything (the changes will be merged)
        .col-sm-6.col-lg-5.hidden-sm.clearfix
            .featureimage
                img(src='/landing/images/mpp.jpg', alt='mpp.jpg')
    article.row#tracktime
        .hidden-sm.col-sm-6.col-offset-1.col-lg-5.clearfix
            .clearfix.featureimage
                img(src='/landing/images/track.jpg', alt='track.jpg')
        .col-12.col-sm-6.col-lg-5.clearfix
            .featuretext
                h2 Track time
                h4
                    ul
                        li Entering spent hours is easier & faster than ever
                        li No need to select a task manually
                        li The system will identify the tasks assigned to you and scheduled for the current week
                        li The system will show you any other tasks you entered your time in lately
    article.row#analyze
        .col-12.col-sm-6.col-offset-2.col-lg-4.clearfix
            .clearfix.featuretext
                h2 Analyze reports
                h4
                    ul
                        li The overall chart for management
                        li The project chart for project managers
                        li Analysis of spent time per person
                        li Exports to MS Excel and other tools
        .hidden-sm.col-sm-6.col-lg-4.hidden-sm.clearfix
            .clearfix.featureimage
                img(src='/landing/images/analyze.jpg', alt='analyze.jpg')
    article.row
        .hidden-sm.col-sm-6.col-offset-2.col-lg-4.clearfix
            .clearfix.hidden-sm.featureimage
                img(src='/landing/images/piggybank.jpg', alt='piggybank.jpg')
        .col-12.col-sm-6.col-lg-4.clearfix
            .featuretext
                h2 1 for free&nbsp;&#151;&nbsp;
                    - if (currency === "EUR") {
                    i.icon-eur #{price}
                    - }else if (currency === "USD") {
                    |#{price}
                    i.icon-usd
                    - }else if (currency === "GBP") {
                    i.icon-gbp #{price}
                    - }
                    | &nbsp;for all
                h4
                    ul
                        li Unlimited users
                        li 1 project free
                        li Unlimited projects at&nbsp;
                            - if (currency === "EUR") {
                            i.icon-eur #{price}
                            - }else if (currency === "USD") {
                            |#{price}
                            i.icon-usd
                            - }else if (currency === "GBP") {
                            i.icon-gbp #{price}
                            - }
                            |/month
            .bottomsignup
                button.signup.btn.btn-large.btn-primary(href='#') Sign Up

    //shim dependencies
    script(type='text/javascript', src='/scripts/jade-hack/browser-jade.js')
    script(type='text/javascript', src='/scripts/jade-hack/jade-shim.js')
    //main requirejs module
    script(data-main='/scripts/client/LandingApp.js', type='text/javascript', src='/scripts/vendor/requirejs/require.js')

